<div class="item">
<h1>Your Stuff:</h1>
	<form method="get" action="/updateinfo">
	<input type='submit' name='submit' value='Update Information'></form>
	<p> <strong>Username:</strong> {{username}} </p> 
	<p> <strong>Full Name:</strong> {{fullname}} </p>
	<p> <strong>Email:</strong> {{useremail}} </p>
	<p> <strong>Location:</strong> {{location}} </p>
	<p> <strong>Pet Name:</strong> {{petname}} </p>
	<p> <strong>Pet Type:</strong> {{pettype}} </p>
	<p> <strong>Pet Description:</strong> {{petdesc}} </p>
	<p> <strong>Pet Picture:</strong> </p>
</div>
		

		
