<div class="item">
<h1>Your Stuff:</h1>

	<form action="/updateinfo" method="POST" enctype="multipart/form-data">

	<p> <strong>Username:</strong> {{username}} </p>

	<p> <strong>Current Full Name:</strong> {{fullname}} <br />
		New Full Name: <input type="text" class="form-control" placeholder="Full Name" name="newfullname" value="{{fullname}}">
		</p>

	<p> <strong>Current Email:</strong> {{useremail}} <br />
		New Email: <input type="text" class="form-control" placeholder="Email" name="newuseremail" value="{{useremail}}">
		</p>

	<p> <strong>Current Location:</strong> {{location}} <br />
		New Location:</strong> <input type="text" class="form-control" placeholder='Location' name="newlocation" value="{{location}}">
		</p>

	<p> <strong>Current Pet Name:</strong> {{petname}} <br />
		New Pet Name: <input type="text" class="form-control" placeholder="Pet Name" name="newpetname" value="{{petname}}">
		</p>

	<p> <strong>Current Pet Type:</strong> {{pettype}} <br />
		New Pet Type: 
		<select name="newpettype">
		<option value="dog">dog</option>
		<option value="cat">cat</option>
		<option value="reptile">reptile</option>
		<option value="rodent">rodent</option>
		<option value="{{pettype}}" selected>{{pettype}}</option></select> </p> 

	<p> <strong>Current Pet Description:</strong> {{petdesc}} <br />
		New Pet Description: <br />
		<textarea name= 'newpetdesc' rows= '8' cols= '50' value=''>{{petdesc}}</textarea>
		</p>

	<p> <strong>Current Pet Picture:</strong> {{picture}} <br />
	<input type="file" name="picture" accept="application/x-zip-compressed,image/*"></p>

	<input type='submit' name='submit' value='Update Information'></form>
	<form method="get" action="/dashboard"><input type='submit' name='cancel' value='Cancel'></form> 

</div>

